@charset "utf-8";
/* CSS Document */
html{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace, "Courier New", Courier;
	overflow: hidden;
}
.main{
	text-align: center;
}

#qrCode {
	width: 250px;
	height: 250px;
	margin: 10px auto;
}

#phoneConnected {
	color: #55aa55;
	display: none;
}

#phoneNotConnected {
	color: #FF0000;
}

.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
	50% { opacity: 0; }
}